ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

h2 {
    text-align: center;
}

li {
    list-style: none;
    width: 200px;
}

img {
    width: 100%;
    border-radius: 5px;
}

#search-form {
    text-align: center;
}

#paging-display {
    display: flex;
    justify-content: center;
    align-items: baseline;
}